# Preserve exporter formatting and the verbatim upstream license file.
exports/*.svg -whitespace
cam/*.svg -whitespace
cam/raw/*.ngc -whitespace
design/KICAD-LIBRARY-COPYRIGHT.txt -whitespace
*.pdf binary
